streamlit
pillow
python-dotenv
langchain-core
langchain-nvidia-ai-endpoints
langchain-openai
langchain-huggingface
# pinecone-client==6.0.0
pinecone-client>=3.0.0
langchain-pinecone==0.2.13
sentence-transformers
