llama-stack-client
requests
python-dotenv
openai 
langchain_nvidia_ai_endpoints
langchain-pinecone
pinecone-client==5.0.1
sentence-transformers
langchain_huggingface
streamlit
langchain-openai
Pillow
